# Analysis

Before starting anything, let's take a quick look at our data and determine some boundaries to validate our dataset.

## Rules (to start with)

- **Age (days,int):** range 10 - 110
- **Height (cm,int):** range 60 - 230  
- **Weight (kg, int):** range 30 - 250
- **Gender:** -> to bool
- **BMI** -> range 

**Ap High:**
- Low (Hypotension): Less than 90 mm Hg systolic
- Normal: Less than 120 mm Hg systolic
- Elevated: 120-129 mm Hg systolic
- High (Hypertension):
    - Stage 1: 130-139 mm Hg systolic
    - Stage 2: 140 mm Hg or higher systolic
- Critical: 180 mm Hg and above

**Ap Low:**
- Low: Less than 60mm Hg diastolic
- Normal: Less than 80 mm Hg diastolic
- Elevated: 80-89 mm Hg diastolic
- High (Hypertension):
    - Stage 1: 90-99 mm Hg diastolic
    - Stage 2: 100 mm Hg or higher diastolic
- Critical (Made that one up): 120 mm Hg diastolic

## Let's start with those and validate our data to be applicable to real people
- In scripts, you can find the first change we made, booleans are now as booleans

In [1]:
from scripts.generic_methods import CARDIO_DATASET, drop_by_filter
from scripts.patient import Patient

In [2]:
CARDIO_DATASET.head()
CARDIO_DATASET.info()
CARDIO_DATASET.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  bool
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  bool
 10  alco         70000 non-null  bool
 11  active       70000 non-null  bool
 12  cardio       70000 non-null  bool
dtypes: bool(5), float64(1), int64(7)
memory usage: 4.6 MB

,id,age,height,weight,ap_hi,ap_lo,cholesterol,gluc
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457
std,28851.302323,2467.251667,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270
min,0.000000,10798.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000
25%,25006.750000,17664.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000
50%,50001.500000,19703.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000
75%,74889.250000,21327.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000
max,99999.000000,23713.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000

Let's take a peak at values we outlied in our set

In [3]:
def patient_is_valid(patient: Patient) -> bool:
    """Check if a patient is valid."""
    return patient.is_valid

In [4]:
VALID_DATASET = drop_by_filter(CARDIO_DATASET, lambda p: not patient_is_valid(p))
VALID_DATASET.to_csv("../data/filtered/cardio_train.csv", index=False)
VALID_DATASET.head()
VALID_DATASET.info()
VALID_DATASET.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 59158 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           59158 non-null  int64
 1   age          59158 non-null  int64
 2   gender       59158 non-null  bool
 3   height       59158 non-null  int64
 4   weight       59158 non-null  float64
 5   ap_hi        59158 non-null  int64
 6   ap_lo        59158 non-null  int64
 7   cholesterol  59158 non-null  int64
 8   gluc         59158 non-null  int64
 9   smoke        59158 non-null  bool
 10  alco         59158 non-null  bool
 11  active       59158 non-null  bool
 12  cardio       59158 non-null  bool
dtypes: bool(5), float64(1), int64(7)
memory usage: 4.3 MB

,id,age,height,weight,ap_hi,ap_lo,cholesterol,gluc
count,59158.000000,59158.000000,59158.000000,59158.000000,59158.000000,59158.000000,59158.000000,59158.000000
mean,49987.602894,19355.634639,164.413131,73.210994,121.904189,79.548193,1.333801,1.214257
std,28859.769785,2477.795262,8.099118,13.754659,11.057053,7.813921,0.658829,0.562525
min,0.000000,10798.000000,60.000000,30.000000,90.000000,60.000000,1.000000,1.000000
25%,24987.250000,17551.250000,159.000000,64.000000,120.000000,80.000000,1.000000,1.000000
50%,50096.500000,19638.000000,165.000000,71.000000,120.000000,80.000000,1.000000,1.000000
75%,74890.750000,21252.000000,170.000000,80.000000,130.000000,80.000000,1.000000,1.000000
max,99999.000000,23713.000000,207.000000,200.000000,140.000000,100.000000,3.000000,3.000000

In [5]:
UNVALID_DATASET = drop_by_filter(CARDIO_DATASET, patient_is_valid)
UNVALID_DATASET.to_csv("../data/filtered/cardio_train_unvalid.csv", index=False)
UNVALID_DATASET.head()
UNVALID_DATASET.info()
UNVALID_DATASET.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 10842 entries, 3 to 69997
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10842 non-null  int64
 1   age          10842 non-null  int64
 2   gender       10842 non-null  bool
 3   height       10842 non-null  int64
 4   weight       10842 non-null  float64
 5   ap_hi        10842 non-null  int64
 6   ap_lo        10842 non-null  int64
 7   cholesterol  10842 non-null  int64
 8   gluc         10842 non-null  int64
 9   smoke        10842 non-null  bool
 10  alco         10842 non-null  bool
 11  active       10842 non-null  bool
 12  cardio       10842 non-null  bool
dtypes: bool(5), float64(1), int64(7)
memory usage: 815.3 KB

,id,age,height,weight,ap_hi,ap_lo,cholesterol,gluc
count,10842.000000,10842.000000,10842.000000,10842.000000,10842.000000,10842.000000,10842.000000,10842.000000
mean,49889.575816,20086.697381,164.065117,79.633121,166.537724,189.837392,1.547316,1.293027
std,28806.245151,2313.367257,8.785748,16.458360,388.333759,467.703587,0.762089,0.618568
min,3.000000,14275.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000
25%,25077.250000,18449.000000,158.000000,68.000000,150.000000,90.000000,1.000000,1.000000
50%,49530.500000,20395.000000,164.000000,78.000000,150.000000,90.000000,1.000000,1.000000
75%,74860.500000,21907.000000,170.000000,89.000000,160.000000,100.000000,2.000000,1.000000
max,99996.000000,23690.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000

Let's take a quick look at distrubution
- Gender
- Chloresterol
- Glucose Lvl
- Ap Low
- Ap High
- BMI